[submodule "lib/tinyusb"]
	path = lib/tinyusb
	url = https://github.com/anthonydotmoe/tinyusb
[submodule "lib/STM32CubeH7"]
	path = lib/STM32CubeH7
	url = https://github.com/STMicroelectronics/STM32CubeH7.git
